body{
    padding: 100px;
}
.submit-area{
  margin-top: 50px;
  border-radius: 8px;  
  box-shadow: 5px 5px 10px grey;
  padding: 40px;
 
  
  background-color: rgba(127, 255, 212, 0.082);
}

#transaction-area{
    display: none;
}

.deposit{
    background-color: purple;
    margin: 0px 20px;
    border-radius: 10px;
    padding: 35px 20px;
    color: white;
    text-align: center;
    
    
}

.withdraw{
    background-color: rgba(255, 255, 0, 0.685);
    margin: 0px 20px;
    border-radius: 10px;
    padding: 35px 20px;
    color: white;
    text-align: center;
}

.balance{
    background-color: skyblue;
    margin: 0px 20px;
    border-radius: 10px;
    padding: 35px 20px;
    color: white;
    text-align: center;
}
.login{
    width: 45%;
    margin-left: 27%;
}